<template name="postSubmit">

<iframe class= "textEditor" src="build/document.html"></iframe>
<!-- <iframe src="build/document.html" onload="top.editor=this.contentWindow.editor" width="500" height="500"></iframe> -->
  <!--  <div class="form-group {{errorClass 'title'}}">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="" placeholder="a title" class="form-control"/>
      <span class="help-block">{{errorMessage 'title'}}</span>
      </div>
    </div> -->

<!-- {{> editableText context=postSubmit collection="posts" field="body" wysiwyg=true autoInsert=true}} -->
 <!--  <form class="main form page">
    <div class="form-group {{errorClass 'title'}}">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="" placeholder="a title" class="form-control"/>
      <span class="help-block">{{errorMessage 'title'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'body'}}">
       <label class="control-label" for="title">Body</label>
       <textarea type="text" value="" placeholder="what?" class="form-control" id="body" name="body"></textarea>
        <pre><textarea name="body" id="body" type="text" value="" placeholder="what?" class="form-control" rows="10"></textarea></pre>
    <span class="help-block">{{errorMessage 'body'}}</span>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form> -->
</template>